<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/time.css">
    <link rel="stylesheet" type="text/css" href="css/lost.css">
    <link rel="stylesheet" type="text/css" href="css/top.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/navfot.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/paragraph.css">

   
    <title>檔案上傳</title>
</head>

<body>
    <!-- 上方藍色專欄 !-->
    <nav>
        <ul>
            <a href="index"><img src="img/logo.png" class="logo_top"></a>
            <li class="dropdown">
                <a href="#" class="green-pad">報</a>
                <ul class="dropdown-menu">
                    <li><a href="newsupdate" class="green_1">即時新聞</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="yw-pad">饞</a>
                <ul class="dropdown-menu">
                    <li><a href="cloudupdate" class="yw_1">雲南</a></li>
                    <li><a href="villageupdate" class="yw_2">眷村</a></li>
                    <li><a href="newpeopleupdate" class="yw_3">新住民</a></li>
                    <li><a href="muslinupdate" class="yw_4">穆斯林</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="oy-pad">夢</a>
                <ul class="dropdown-menu">
                    <li><a href="childupdate" class="oy_1">手碟</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="lighto-pad">地</a>
                <ul class="dropdown-menu">
                    <li><a href="marketupdate" class="lighto_1">忠貞市場</a></li>
                    <li><a href="chinupdate" class="lighto_2">清真寺</a></li>
                    <li><a href="parkupdate" class="lighto_3">雲南公園</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="pink-pad">購</a>
                <ul class="dropdown-menu">
                    <li><a href="buyupdate" class="pink_1">美食代購</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dimand-pad">創</a>
                <ul class="dropdown-menu">
                    <li><a href="createupdate" class="dimand_1">忠貞創生</a></li>
                </ul>
            </li>
        
            <form action="/logout" method="get" class="btna">
                <button class="conbtn" type="submit" id="logout">登出</button>
            </form>
        </ul>
    </nav>


    <!--遺失物!-->
    <div class="margin"></div>

    <div class="container1">
            
            <div class="lostitem3" id="upload-form" action="/upload" method="post" enctype="multipart/form-data" style="background-color: #ffffff;color: black;">
            <div class="w30leftblank"></div> <div class="form-style w40div">
                <div style="width:100% ;float: left;">
                <!-- <button class="commontn" style="float: right;"
                onclick="location.href=' /public/blog.html' ">回上一頁
                </button> -->
                
                </div>
                <form style="justify-content: center; display: flex;">
                <fieldset>
                <legend>手碟上傳</legend>
                <label for="fieldl" >
                <span style="justify-content: left;">姓名
                <span class="required">*</span>
                </span>
                <input type="text" id="title" class="input-field" value="" style="color: black;" name=""/>
                </label>
                <br> 
                <label for="field6">
                <span style="justify-content: left;">介紹
                <span class="required">*</span> 
                </span> 
                <textarea id="content"
                class="textarea-field" cols="60" rows="10" name=""></textarea> 
                </label>
                <br>
                <label for="field6">
                    <span style="justify-content: left;">超連結
                    <span class="required">*</span> 
                    </span> 
                    <textarea id="aaa"
                    class="textarea-field" cols="60" rows="2" name=""></textarea> 
                    </label>
                    <br>
                <label for="field8">
                <span style="justify-content: left;">照片
                <span class="required">*</span> 
                </span>
                <br>
                <!-- <img id="image" src="" alt="image preview" style="display: none;" />
                <input type="file" name="image" id="upload-input" accept="image/*"/> -->
                <img src="img/white.jpg" alt="" class="" id="u_img" height="70%" width="70%">
                <input id='u_img_file' type="file" name="file"/>
                <textarea id="ipth"
                class="textarea-field" cols="15" rows="2" name="" placeholder="請輸入照片名稱"></textarea>
                <!-- <p style="margin: 0;">圖片</p> -->
                </label>
                <br>
                <!-- <button id="submit" class="control" type="submit" onclick="addArticle()">上傳</button>  -->
                <label style="float: right;">
                <span>&nbsp;</span>
                <input type="submit" onclick="addchild()"
                value= "送出" />
                </label>
                </fieldset>
                </form>
            </div>
            </div>
            
            
            <br>
            <pre id="output"></pre>
            


            <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
            <script type="text/javascript" src="./javascripts/addchild-in.js"></script>
            
            
           
            
        
        
    </div>

    
    
    
</body>
