<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/navfot.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/connection.css">
    <link rel="stylesheet" href="css/paragraph.css">
    <title>忠貞聯絡</title>

</head>

<body>
    <!-- 上方專欄 !-->
    <nav>
        <ul>
            <a href="index"><img src="img/LOGO.jpg" class="logo_top"></a>
            <li class="dropdown">
                <a href="#" class="green-pad">報</a>
                <ul class="dropdown-menu">
                    <li><a href="news" class="green_1">即時新聞</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="yw-pad">饞</a>
                <ul class="dropdown-menu">
                    <li><a href="cloud" class="yw_1">雲南</a></li>
                    <li><a href="village" class="yw_2">眷村</a></li>
                    <li><a href="newpeople" class="yw_3">新住民</a></li>
                    <li><a href="muslin" class="yw_4">穆斯林</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="oy-pad">夢</a>
                <ul class="dropdown-menu">
                    <li><a href="child" class="oy_1">手碟</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="lighto-pad">地</a>
                <ul class="dropdown-menu">
                    <li><a href="market" class="lighto_1">忠貞市場</a></li>
                    <li><a href="chin" class="lighto_2">清真寺</a></li>
                    <li><a href="park" class="lighto_3">雲南公園</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="pink-pad">購</a>
                <ul class="dropdown-menu">
                    <li><a href="buy" class="pink_1">美食代購</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dimand-pad">創</a>
                <ul class="dropdown-menu">
                    <li><a href="create" class="dimand_1">忠貞創生</a></li>
                </ul>
            </li>

            <button class="conbtn">
                <a href="connection" class="btna">找我</a>
            </button>
        </ul>
    </nav>

    <div class="map">
        <div class="abc">
            <div class="box">
                <img src="../icon/nova.png" alt="" class="con">
                <a href="https://novapanshandpan.com " class="conlink">合作夥伴-諾瓦手碟</a>
            </div>
            <div class="box">
                <img src="../icon/fb.png" alt="" class="con">
                <a href="https://www.facebook.com/groups/2529645990457962/?locale=zh_TW" class="conlink">忠貞社團</a>
            </div>
            <div class="box">
                <img src="../icon/yt.png" alt="" class="con">
                <a href="https://www.youtube.com/@zcdasuperpower" class="conlink">Sophie Liao</a>
            </div>
            <div class="box">
                <img src="../icon/ig.png" alt="" class="con">
                <a href="https://www.instagram.com/zhongzhen_community/" class="conlink">少年的超能力 X 忠貞社區</a>
            </div>

        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.1138995931497!2d121.25161867643601!3d24.928189477885276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682287773d99ed%3A0xcb0cf06b460fa223!2zMzI05qGD5ZyS5biC5bmz6Y6u5Y2A5Lit5bGx6LevNjPomZ8!5e0!3m2!1szh-TW!2stw!4v1682259846412!5m2!1szh-TW!2stw"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <footer>
        <img src="img/LOGO.jpg" class="logo_foot">
        <div class="oot1">
            <h3>忠貞社區地方協會</h3>
            <p>營業時間<br>星期一至星期五 8am~10pm</p>
        </div>

        <div class="oot2">
            <p>工作據點<br>桃園市平鎮區貿五路36號</p>
            <p>電子信箱<br>zcda10901@gmail.com</p>
        </div>
        <div class="oot2">
            <p>聯絡電話<br>(03)4658200</p>
        </div>

    </footer>
</body>

</html>