<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    
    <title>LOGIN</title>
</head>

<body>
    <!-- 上方藍色專欄 !-->
    

    <!-- 間隔登入區塊跟專欄的地方 !-->

    <div class="margin"></div>

    <!-- 登入區塊 !-->

    <div class="login">
        <b>登入</b>
        <h3>Enter your ID and Password</h3>
        <form class="login-id" action="/login" method="post">
            <input 
            class="control" 
            id="id" 
            name="id" 
            type="text" 
            placeholder="ID" />
            <div class="password">
                <input 
                class="control" 
                id="password" 
                name="pw" 
                type="password" 
                placeholder="Password" />
            </div>
            <button type="submit" class="control" id="login">LOGIN</button>
        </form>
        
        <div class="marginv2"></div>
    </div>

</body>

</html>