<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/navfot.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/paragraph.css">

    <title>穆斯林</title>
</head>

<nav>
    <nav>
        <ul>
            <a href="index"><img src="img/logo.png" class="logo_top"></a>
            <li class="dropdown">
                <a href="#" class="green-pad">報</a>
                <ul class="dropdown-menu">
                    <li><a href="news" class="green_1">即時新聞</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="yw-pad">饞</a>
                <ul class="dropdown-menu">
                    <li><a href="cloud" class="yw_1">雲南</a></li>
                    <li><a href="village" class="yw_2">眷村</a></li>
                    <li><a href="newpeople" class="yw_3">新住民</a></li>
                    <li><a href="muslin" class="yw_4">穆斯林</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="oy-pad">夢</a>
                <ul class="dropdown-menu">
                    <li><a href="child" class="oy_1">手碟</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="lighto-pad">地</a>
                <ul class="dropdown-menu">
                    <li><a href="market" class="lighto_1">忠貞市場</a></li>
                    <li><a href="chin" class="lighto_2">清真寺</a></li>
                    <li><a href="park" class="lighto_3">雲南公園</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="pink-pad">購</a>
                <ul class="dropdown-menu">
                    <li><a href="buy" class="pink_1">美食代購</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dimand-pad">創</a>
                <ul class="dropdown-menu">
                    <li><a href="create" class="dimand_1">忠貞創生</a></li>
                </ul>
            </li>
            <a href="connection" class="btna">
                <button class="conbtn">找 我</button>
            </a>
        </ul>
    </nav>
</nav>
    <div class="title">
        <h1>穆斯林</h1>
    </div>
    <div id="muslin" class="all"></div>
    <div class="back">
        <a href="/child" class="ywbtn btn btn-primary" >回上一頁</a>
    </div>
    <footer>
        <img src="img/ci.png" class="logo_foot">
        <div class="oot1">
            <h3>忠貞社區地方協會</h3>
            <p>營業時間<br>星期一至星期五 8am~10pm</p>
        </div>
        <div class="oot2">
            <p>工作據點<br>桃園市平鎮區貿五路36號</p>
            <p>電子信箱<br>zcda10901@gmail.com</p>
        </div>
        <div class="oot2">
            <p>聯絡電話<br>(03)4658200</p>
            <a href="https://www.facebook.com/groups/2529645990457962/?locale=zh_TW" target="_blank">
                <img src="/icon/fb.png" class="fot_icon">
            </a>
            <a href="https://www.instagram.com/zhongzhen_community/" target="_blank">
                <img src="/icon/ig.png" class="fot_icon">
            </a>
            <a href="https://www.youtube.com/@zcdasuperpower" target="_blank">
                <img src="/icon/yt.png" class="fot_icon">
            </a>
            <a href="https://novapanshandpan.com" target="_blank">
                <img src="/icon/nova.png" class="fot_icon">
            </a>
        </div>
    </footer>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        
        <script type="text/javascript" src="./javascripts/muslin.js"></script>
        <script type="text/javascript" src="./javascripts/muslin-in.js"></script>
        
</body>

</html>
