@media screen and (max-width: 1920px) {
    .card-container {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .card-container {
        justify-content: flex-start;
        max-width: 36rem;
    }
}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.card {
    width: 18rem;
    margin: 20px;
    border: none;
}

.card-body img {
    width: 16rem;
    height: 16rem;
    border-radius: 10px;
}

.card-text {
    font-size: large;
}

h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    height: 400px;
}

.btn-bottom-right {
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    right: 0;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: bolder;
}

a.pinkbtn {
    float: right;
    background-color: white;
    color: #e32c6c;
    border: #e32c6c 3px solid;
    bottom: 10px;
    font-family: Helvetica;
    font-size: 18px;
}

a.pinkbtn:hover {
    color: #fff;
    background-color: #e32c6c;
    border: #e32c6c 3px solid;
}
a.pinkbtn:active {
    color: #fff;
    background-color: #e32c6c;
    border: #e32c6c 3px solid;
}

a.lightobtn {
    float: right;
    background-color: white;
    color: #e95318;
    border: #e95318 3px solid;
    bottom: 10px;
    font-family: Helvetica;
    font-size: 18px;
}

a.lightobtn:hover {
    color: #fff;
    background-color: #e95318;
    border: #e95318 3px solid;
}
a.lightobtn:active {
    color: #fff;
    background-color: #e95318;
    border: #e95318 3px solid;
}

a.ywbtn {
    float: right;
    position: row;
    background-color: white;
    color: #ffdd5f ;
    border: #ffdd5f  3px solid;
    bottom: 10px;
    font-family: Helvetica;
    font-size: 18px;
}

a.ywbtn:hover {
    color: #fff;
    background-color: #ffdd5f  ;
    border: #ffdd5f 3px solid;
}

a.ywbtn:active {
    background-color: #ffdd5f ;
}
.ywbtn:not(.btn):active {
    background-color: #ffdd5f !important;
    border: #ffdd5f 3px solid;
  }
a.dimandbtn {
    float: right;
    position: row;
    background-color: white;
    color: #0083ad;
    border: #0083ad 3px solid;
    bottom: 10px;
    font-family: Helvetica;
    font-size: 18px;
}

a.dimandbtn:hover {
    color: #fff;
    background-color: #0083ad;
    border: #0083ad 3px solid;
}

a.dimandbtn:active {
    color: #fff;
    background-color: #0083ad;
    border: #0083ad 3px solid;
}
a.greenbtn {
    float: right;
    position: row;
    background-color: white;
    color: #a8cd69 ;
    border: #a8cd69  3px solid;
    bottom: 10px;
    font-family: Helvetica;
    font-size: 18px;
}

a.greenbtn:hover {
    color: #fff;
    background-color: #a8cd69 ;
    border: #a8cd69  3px solid;
}

a.greenbtn:active{
    background-color: #a8cd69 ;
}

.center {
    text-align: center;
}