.con {
    width: 40px;
    height: 40px;
}

.conlink {
    color: black;
    text-decoration: none;
}

.map {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.abc {
    margin-right: 50px;
    font-size: 25px;
}

.abc .box:not(:last-child) {
    margin-bottom: 20px;
}

iframe {
    border: 0;
    width: 500px;
    height: 500px;
}

.inb {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    width: 500px;
    height: 50px;
}

textarea {
    width: 500px;
    resize: height;
}

label {
    font-size: 25px;
}

.pkbtn {
    float: right;
    position: row;
    background-color: white;
    color: #EF8378;
    border: #EF8378 3px solid;
    bottom: 10px;
    font-family: Helvetica;
    font-size: 18px;
    width: 100px;
    height: 45px;
}

.pkbtn:hover {
    color: #fff;
    background-color: #EF8378;
    border: #EF8378 3px solid;
}
.pkbtn:active {
    background-color: #EF8378;
}


.pkbtn.btn-primary {
    --bs-btn-active-bg: #EF8378;
    --bs-btn-active-border-color: #EF8378;
}

.submitbtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form{
    margin-bottom: 0px;
  }
  