.con{
    width: 40px;
    height: 40px;
}

.conlink{
    color: black;
    text-decoration: none;
}
.map{
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}
.abc{
    margin-right: 50px;
    font-size: 25px;
}

.abc .box:not(:last-child) {
    margin-bottom: 20px;
}



iframe{
    border: 0;
    width: 500px;
    height: 500px;
}