/* 上標題加上連結的設定 */

body {
    margin: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #ffffff;
}



.center {
    display: flex;
    align-items: center;
}

#title {
    font-size: 40px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap: 15px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: azure;
    font-size: 30px;
}

a:hover {
    color:black;
}

.control{
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 30%;
    height: 56px;
    padding: 0 16px;
    background:#617B3F;
    color:#5a4f79;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    transition: 0.4s;
}

.controlv2{
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background:white;
    color:#5a4f79;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    transition: 0.4s;
}

.button{
    background:transparent;
    cursor :pointer;
    border: 0;
}

/* 下拉按钮样式 */
.dropbtn {
    background-color: #ffffff;
    color: #5C5F62;
    padding: 25px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {background-color: #f1f1f1}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #617B3F;
    color: #ffffff;
}

.btn {
    border:0;
    background-color:#617B3F;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
    padding: 10px;
    font-size: 20px;
    margin-right: 60px;
}

.btn:hover {
    color:#5C5F62;
    background-color:#fff;
    border:3px #5C5F62 solid;
}

.vid {
    width: 100%;
}

.fot {
    margin-top: 50px;
    margin-bottom: 50px;
}

.lg {
    margin-left: 60px;
}

.oot1 {
    margin-left: 60px;
}

.oot2 {
    margin-left: 35px;
}

.oot3 {
    margin-left: 35px;
}

.v-line1{
    border-left: 1px solid #000;
    height: 75px;
    left: 55.5%;
    position: absolute;
    margin-top: 40px;
    margin-bottom: 50px;
}

.v-line2{
    border-left: 1px solid #000;
    height: 75px;
    left: 75.5%;
    position: absolute;
    margin-top: 40px;
    margin-bottom: 50px;
}
/* 以上是共用區域 */
