body,
html {
  margin: 0;
  padding: 0;
  height: 0%;
  font-family: 'CustomFont', sans-serif;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/wt040.woff') format("woff"),
         url('../fonts/wt040.ttf') format("truetype"),
         url('../fonts/wt040.eot') format("embedded-opentype");
}

/* .image-container {
  width: 200px;
  height: 200px;
  background-image: url('img/LOGO.jpg');
  background-size: cover;
}

.image-container:hover {
  background-image: url('img/LOOO.png');
} */

nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 100px;
  background-color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding: 0;
  font-family: 'Helvetica' ;
  top: 0; 
  margin-bottom: 0px; 
}

nav ul li {
  width: 100px;
  position: sticky;
  font-size: 40px;
  top: 0;
}

nav ul li {
  width: 100px;
  position: sticky;
  font-size: 40px;
  top: 0;
}

/* 顏色 */
.green-pad {
  padding: 30px;  
  color:#a8cd69;
  height: 100px; 
}

.green-pad:hover {
  background-color: #a8cd69;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.dropdown:hover .green-pad{
  background-color: #a8cd69;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);  
}
.green_1 {
  background-color: #a8cd69;
  color: #fff;
  border-radius: 5px;
  opacity: 0.7;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.green_1:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}

.yw-pad {
  padding: 30px;
  color:#ffdd5f ;
  height: 100px;
}

.yw-pad:hover {
  background-color: #ffdd5f ;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.dropdown:hover .yw-pad{
  background-color: #ffdd5f ;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);  
}

.yw_1 {
  background-color: #ffdd5f ;
  border-radius: 5px;
  opacity: 0.85;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.yw_1:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}

.yw_2 {
  background-color: #ffdd5f ;
  border-radius: 5px;
  opacity: 0.75;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.yw_2:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}
.yw_3 {
  background-color: #ffdd5f ;
  border-radius: 5px;
  opacity: 0.65;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.yw_3:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}
.yw_4 {
  background-color: #ffdd5f ;
  border-radius: 5px;
  opacity: 0.55;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.yw_4:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}

.oy-pad {
  padding: 30px;
  color:#fdab2b ;
  height: 100px;
}

.oy-pad:hover {
  background-color: #fdab2b;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.dropdown:hover .oy-pad{
  background-color: #fdab2b;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);  
}

.oy_1 {
  background-color: #fdab2b;
  color: #fff;
  border-radius: 5px;
  opacity: 0.7; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.oy_1:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}

.lighto-pad {
  padding: 30px;
  color:#e95318;
  height: 100px;
}

.lighto-pad:hover {
  background-color: #e95318 ;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.dropdown:hover .lighto-pad{
  background-color: #e95318 ;
  color: #fff;
  border-radius: 5px;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


.lighto_1 {
  background-color: #e95318 ;
  border-radius: 5px;
  opacity: 0.7;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.lighto_1:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}

.lighto_2 {
  background-color: #e95318 ;
  border-radius: 5px;
  opacity: 0.6;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.lighto_2:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}

.lighto_3 {
  background-color: #e95318 ;
  border-radius: 5px;
  opacity: 0.5;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.lighto_3:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}


.pink-pad {
  padding: 30px;
  color:#e32c6c ;
  height: 100px;
}

.pink-pad:hover {
  background-color: #e32c6c ;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.dropdown:hover .pink-pad{
  background-color: #e32c6c;
  color: #fff;
  border-radius: 5px;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.pink_1 {
  background-color: #e32c6c;
  color: #fff;
  border-radius: 5px;
  opacity: 0.7;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.pink_1:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}

.dimand-pad {
  padding: 30px;
  color:#0083ad ;
  height: 100px;
}

.dimand-pad:hover {
  background-color: #0083ad;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.dropdown:hover .dimand-pad{
  background-color: #0083ad;
  color: #fff;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);  
}
.dimand_1 {
  background-color: #0083ad;
  color: #fff;
  border-radius: 5px;
  opacity: 0.7;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.dimand_1:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #5c5f62;
  text-shadow: none;
  opacity: 0.9;
}
nav ul li ul li {
  width: 200px;
  position: relative;
  outline: none;
  font-size: 30px;
}

nav ul li a {
  text-decoration: none;
  /* color: #5c5f62; */
  padding: 10px;
  display: block;
  outline: none;
  align-items: center;
  margin: 0 auto;
display: flex;
align-items: center;
}

nav ul .dropdown:hover .dropdown-menu {
  display: block;
  border: none;
}

nav ul .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

nav ul .dropdown-menu li a {
  /* color: #5c5f62; */
  display: block;
}

.logo_top {
  width: 100px;
  height: 100px;
  position: fixed;
  left: 0;
  margin-left: 60px;
  border-radius: 4px;
}

.conbtn {
  border: 3px #EF8378  solid;
  background-color: #fff;
  border-radius: 6px;
  margin-right: 50px;
  position: fixed;
  right: 0;
  width: 100px;
  height: 50px;
  color: #EF8378;
}

.conbtn:hover {
  background-color: #EF8378;
  border: 3px #fff solid;
}

.btna:hover .conbtn {
  color: #fff;
}

a.btna {
  margin-top: 25px;
  color: #fff;
  font-size: 25px;
}

footer {
  display: flex; 
  justify-content: center;
  bottom: 0;
  position:static;
  left: 0;
  width: 100%;  
  color: black;
  padding: 20px;
  background-color: #fff;
}

footer img.logo_foot{
  width: 150px;
  height: 150px;
  border-radius: 4px;  
}

footer div.oot1 {
  margin-left: 60px;
  margin-top: 20px;
  font-weight: bold;
}

footer div.oot2 {
  margin-left: 35px;
  font-weight: bold;
}

.oot1 h3{
  font-weight: bold;
  margin-bottom: 38px;
}

footer div p{
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
}

button.subbtn:hover{
  background-color: #fff;
  border: 3px #e95318 solid;
  color: #e95318;
}

.fot_icon{
  width: 30px;
  height: 30px;
}