.image-container {
  display: flex;
  justify-content: center;
}

.image-wrapper:not(.image-caption) {
  text-align: center;
  position: relative;
}

.image-wrapper .image-caption {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
  width: 900px;
}

.image-wrapper img {
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  max-width: 560px;
}
/* .buybtn {
  border: 3px #e32c6c  solid;
  background-color: #fff;
  border-radius: 6px;
  width: 100px;
  height: 50px;
  color: #e32c6c;
  font-family: Helvetica;
  float: center;
}

.buybtn:hover {
  background-color: #e32c6c;
  border: 3px #fff solid;
}
.bbtn {
  color: #e32c6c;
  font-size: 25px;
  display: flex;
  width: 100px;
  height: 50px;
}

.bbtn:hover .buybtn {
  color: #fff;
} */

.bbtn {
  border: 3px #e32c6c  solid;
  background-color: #fff;
  border-radius: 6px;
  width: 100px;
  height: 50px;
  color: #e32c6c;
  font-family: Helvetica;
  float: center;
}

.bbtn:hover {
  background-color: #e32c6c;
  border: 3px #fff solid;
}

.buybtn {
  color: #e32c6c;
  font-size: 25px;
  display: flex;
}

.buybtn:hover .bbtn {
  color: #fff;
}

h1 {
  font-weight: bold;
}

h3{
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {

  .image-wrapper P{
    max-width: 400px;
  }
}

@media (max-width: 1920px) {
  .image-wrapper img {
    max-width: 560px;
  }
  .image-wrapper P{
    max-width: 560px;
  }
}

