.image-container {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  text-align: left;
  position: relative;
}

.image-caption {
  font-size: 25px;
  margin-bottom: 20px;
  justify-content: left;
  width: 900px;
}

.buybtn {
  border: 3px #e32c6c solid;
  background-color: #fff;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.buybtn:hover {
  background-color: #e32c6c;
  border: 3px #e32c6c solid;
}

.buybtn:hover .bbtn {
  color: #fff;
}

a.bbtn {
  float: center;
  color: #e32c6c;
  font-size: 20px;
  text-decoration: none;
}

h1{
  font-weight: bold;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-right: 0 auto;
  margin-left: 0 auto;
}

@media (max-width: 768px) {
  .image-wrapper img {
    max-width: 650px;
  }
}

@media (max-width: 1920px) {
  .image-wrapper img {
    max-width: 900px;
  }
}
